div.card,
.card img {
  border-radius: 0px;
  border-color: transparent;
}

.card {
  margin: 5px;
}

.card:hover .card-body .card-title {
  text-decoration: underline;
}

.card img {
  padding: 0px;
}

.card a {
  text-decoration: none;
}

div.card-body {
  padding: 5px 0px 5px 0px;
}

p.card-title {
  font-size: 18px;
  line-height: 120%;
  height: 40px;
  color: #000000;
  margin: 0;
  padding: 0;
}

p.card-text-client {
  font-size: 14px;
  color: #9f9f9f;
  margin: 0;
  padding-top: 5px;
  line-height: 110%;
}

p.card-text-location {
  font-size: 14px;
  color: #515151;
  margin: 0;
  padding: 0;
  line-height: 110%;
}

.card-container {
  padding: 15px;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(
      300px,
      1fr
    );
}

@media (max-width: 960px) {
  .card-container {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  }
}

@media (max-width: 660px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
