/* Footer */
:root {
  --footer-height: 180px;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: calc(var(--footer-height)+var(--banner-clearance));
  z-index: -1 !important;
  padding: 30px var(--banner-clearance) var(--banner-clearance)
    var(--banner-clearance);
  border-top: solid 1px rgb(255, 255, 255);
  color: #000000;
  background-color: #90fcf9;
}

div.footer-header {
  font-size: 24px;
  font-weight: 500;
  padding: 0px 0px 10px 0px;
}

.footer-display {
  display: grid;
  grid-template-columns: 74px minmax(330px, 3fr) 1fr minmax(200px, 1fr);
  font-size: 14px;
  line-height: 120%;
}

.footer-column {
  display: grid;
  grid-template-columns: 65px 1fr;
}

div.footer-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

div.footer-category {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1px;
}

.footer-logo {
  border-right: solid 1px black;
  height: 50px;
  padding-right: 10px;
  margin-right: 10px;
}

.logo {
  height: 50px;
  width: auto;
}

a.footer-link {
  color: #003366;
  text-decoration: none;
}

.footer-spacer {
  background-color: transparent;
  margin-bottom: var(--footer-height);
  z-index: -2;
}

.footer-credit {
  margin-top: calc(var(--footer-height) - 98px);
  font-size: 12px;
  text-align: end;
}

@media (max-width: 700px) {
  .footer-spacer {
    margin-bottom: calc(var(--footer-height) + 40px);
  }
  .footer-display {
    grid-template-columns: 74px minmax(330px, 3fr);
  }
  .footer-credit {
    text-align: left;
    margin-top: 20px;
  }
}
