.about-container {
  display: grid;
  grid-template-columns: 2fr 1fr;

}

.about-image {
  width: 100%;
  height: auto;
}

.about-div {
  margin: var(--banner-clearance);
}

@media (max-width: 1000px) {
  .about-container {
    grid-template-columns: 1fr;
  }
}
