/* Default Layout Styles Sheet */
* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

html {
  display: table;
  margin: auto;
  width: 100vw;
  min-width: 380px;
  background-color: #ffffff !important;
}

body {
  display: table-cell;
  vertical-align: middle;
  /* max-width: 1024px; */
  background-color: transparent !important;
  min-width: 380px;
}

div.page-container {
  background-color: #ffffff !important;
  width: 100vw;
  z-index: 3 !important;
  padding: 0 0 var(--banner-clearance) 0;
  /* box-shadow: 0px -10px 30px; */
}

/* Variables */
:root {
  --banner-clearance: 20px;
  --default-padding: 5px;
  --gallery-height: 660px;
  --heading-text: 45px;
  --footer-height: 100px;
}

/* Spacers */
.navbar-spacer {
  padding: 40px;
}

/* Page Titles */
.page-title {
  padding: 20px var(--banner-clearance) 0px calc(var(--banner-clearance) - 3px);
  font-size: 36px;
  font-weight: 400;
  width: 100vw;
}
