/* Default Layout Styles Sheet */
* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

html {
  display: table;
  margin: auto;
  background-color: #ffffff !important;
}

body {
  display: table-cell;
  vertical-align: middle;
  /* max-width: 1024px; */
  background-color: #ffffff !important;
  min-width: 320px;
}

/* Variables */
:root {
  --banner-clearance: 20px;
  --default-padding: 5px;
  --gallery-height: 660px;
  --heading-text: 45px;
}

/* Navbar Spacer */
.navbar-spacer {
  padding: 40px;
}

/* Footer */
.footer-container {
  padding: 30px var(--banner-clearance) 10px var(--banner-clearance);
  border-top: solid 1px black;
  color: #ffffff;
  font-size: 12px;
  background-color: #003366;
}

.footer-container > * > * > a {
  color: #cfc7e7;
  text-decoration: none;
}
